jupyter==1.0.0

numpy==1.12.0
pandas==0.19.2
scipy==0.18.1

scikit-learn==0.18.1
nose==1.3.7 # For checking of estimators
matplotlib==1.5.3

# Deep learning
Keras==1.2.2
h5py==2.7.0 # Load/save model dependency for Keras
## TensorFlow
#https://storage.googleapis.com/tensorflow/mac/cpu/protobuf-3.2.0-cp35-none-macosx_10_11_x86_64.whl # Is meant to make Tensorflow faster
https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.1-py3-none-any.whl


#Visualization
bokeh==0.12.4
seaborn==0.7.1
tabulate==0.7.7
Pillow==4.0.0
graphviz==0.5.2   # Also needs `brew install graphviz`

# For Sequential Feature Selection
mlxtend==0.5.1

# Graphics from the Introduction to machine learning with Python book
mglearn==0.1.3

# To read Excel files
xlrd==1.0.0



# For the deploying Python models as an API workshop
joblib==0.10.3
Flask==0.12
gunicorn==19.6.0
gevent==1.2.1
celery[redis]==4.0.2
